# Secrets and debugging
OEE_SECRET_KEY='django-insecure' # dont use this in a prod env
OEE_DEBUG=True

# Admin Account
OEE_SUPERUSER_USERNAME=admin
OEE_SUPERUSER_PASSWORD=changeme

# Cors and trusted origins
OEE_ALLOWED_HOSTS=localhost
OEE_CORS_ALLOWED_ORIGINS=http://*
OEE_CSRF_TRUSTED_ORIGINS=http://*

# Email CONFIG for account creation and password reset
OEE_EMAIL_HOST=mail.mail.io
OEE_EMAIL_HOST_USER=mail@mail.io
OEE_EMAIL_HOST_PASSWORD=password

# DATABASE CONFIG
OEE_DB_USER=postgres
OEE_DB_NAME=database_oee
OEE_DB_PASSWORD=password

# Redis
OEE_REDIS_HOST=redis

# DEMO
DEMO=true
